.App {
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;

}
.NewsCard{
    width: 100%;
    margin-top: 10px;
}
.AddForm{
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}
.AddForm Input{
    margin-left: 10px;
}
.AddNews{
    margin-left: 50%;
}
.DelNews{
    margin-top: -50%;
    margin-left: 10%;
}
.AddComment{
    display: inline-block;
    margin-top: 10%;
}